:host {

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title{
            h2{
                display: flex;
                justify-content: center;
                padding: 20px;
                margin-bottom: 30px;
                margin-top: 30px;
            }
        }
        .products{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            app-product-card{
                margin: 5px;
               }
        }
    }

}