:host {

    .title{
        padding-top: 5rem;
        display: flex;
        justify-content: center;

    }


    form {
        width: 400px;
        padding-top: 1rem;

        .btn-primary{
            margin-right: 10px;
        }

        input.ng-invalid{
            border-color: red;
        }
    }

    .link-above{
        display: flex;
        justify-content: center;
     
        a{
            margin-top: 10px;
            padding: 5px;
        }
    }


}