:host {

    .container{
        display: flex;
        flex-direction: column;
        background-color: rgba(167, 167, 167, 0.082);
        width: 100%;
        border-radius: 10px;
        
       
        

        .imgs{

            padding-top: 20px;
            position: relative;
            .img-bckg{
                .bckg-img{
                    width: 936px;
                    height: 250px;
                    object-fit: cover;
                    object-position: 20% 10%;
                    border-radius: 10px;                
                }
            }
    
            .img-prfl{
                .img-prfl{
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 160px;
                    left: 60px;
                    border-radius: 100px;
                    
                }
            }
        }

        .info{
            margin-left: 300px;

            .title{
                margin-top: 20px;
            }

            .description{
                margin-top: 15px;
                p{
                    width: 650px;
                    text-align: justify;
                    margin-right: 10px;
                }
            }
        }


        .products-title{

            font-size: x-large;
            font-weight: 500;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }




        .products-cards{
            
           display: flex;
           justify-content: flex-start;
           align-items: center;
           
           flex-wrap: wrap;
            
           app-product-card{
            margin: 5px;
           }

        }
    }
}