:host {

    .container{

        margin-top: 70px;
        background-color: rgba(167, 167, 167, 0.082);
        width: 1000px;
        border-radius: 10px;

        .imgs{

            padding-top: 20px;
            position: relative;
            .img-bckg{
                .bckg-img{
                    width: 936px;
                    height: 250px;
                    object-fit: cover;
                    object-position: 20% 10%;
                    border-radius: 10px;                
                }
            }
    
            .img-prfl{
                .img-prfl{
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 160px;
                    left: 60px;
                    border-radius: 100px;
                    
                }
            }
        }

        .info{
            margin-left: 300px;

            .title{
                margin-top: 20px;
            }

            .description{
                margin-top: 15px;
                p{
                    width: 650px;
                    text-align: justify;
                    margin-right: 10px;
                }
            }
        }


        .products-title{

            font-size: x-large;
            font-weight: 500;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }




        .products-cards{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
            padding-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
            

            .card.mb-3{
                width: 250px;
                height: 250px;
    
                .card-title{
                    cursor: pointer;
                    display: flex;
                    align-self: center;
                }
                .card-img-top{
                    cursor: pointer;
                    height: 130px;
                    width: 250px;
                }
                .card-text{
                    margin-bottom: 0.5rem;
                }
                .card-body{
                    padding: 8px;
                    justify-content: center;
                }
                &.active, &:hover {
                    background-color: #d9d93a88;
                    border-radius: 5px;
                    justify-content: center;
                    padding: 5px;
                }
            }
        }
    }
}