

<div class="container">

    <div class="imgs">
        <div class="img-bckg">
            <img src="/assets/imgs/ex2.jpg" alt="bckg-img" class="bckg-img">
        </div>
        <div class="img-prfl">
            <img src="/assets/imgs/user-image.jpg" alt="img-prfl" class="img-prfl">
        </div>
    </div>
    <div class="info">
        <div class="title">
            <h2>Garagem_Nome</h2>
        </div>
        <div class="description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt odio quo corporis voluptatum hic, facere tempore doloremque cum perspiciatis quisquam in totam aperiam enim? Iusto aliquid labore dolore harum. Alias.
            </p>
        </div>
    </div>
    <div class="products-title">
        Produtos publicados
    </div>
    <div class="products-cards">
        <div class="card mb-3">
            <img routerLink="" src="assets/imgs/logo.png" class="card-img-top" alt="">
            <div class="card-body">
            <h5 class="card-title" routerLink="">Product title</h5>
            <p class="card-text">R$ 000,000</p>
            <p class="card-text"><small class="text-body-secondary">Garage Name</small></p>
            </div>
        </div>
    
        <div class="card mb-3">
            <img routerLink="" src="assets/imgs/logo.png" class="card-img-top" alt="">
            <div class="card-body">
            <h5 class="card-title" routerLink="">Product title</h5>
            <p class="card-text">R$ 000,000</p>
            <p class="card-text"><small class="text-body-secondary">Garage Name</small></p>
            </div>
        </div>
    
        <div class="card mb-3">
            <img routerLink="" src="assets/imgs/logo.png" class="card-img-top" alt="">
            <div class="card-body">
            <h5 class="card-title" routerLink="">Product title</h5>
            <p class="card-text">R$ 000,000</p>
            <p class="card-text"><small class="text-body-secondary">Garage Name</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img routerLink="" src="assets/imgs/logo.png" class="card-img-top" alt="">
            <div class="card-body">
            <h5 class="card-title" routerLink="">Product title</h5>
            <p class="card-text">R$ 000,000</p>
            <p class="card-text"><small class="text-body-secondary">Garage Name</small></p>
            </div>
        </div>
    
        <div class="card mb-3">
            <img routerLink="" src="assets/imgs/logo.png" class="card-img-top" alt="">
            <div class="card-body">
            <h5 class="card-title" routerLink="">Product title</h5>
            <p class="card-text">R$ 000,000</p>
            <p class="card-text"><small class="text-body-secondary">Garage Name</small></p>
            </div>
        </div>
    
        <div class="card mb-3">
            <img routerLink="" src="assets/imgs/logo.png" class="card-img-top" alt="">
            <div class="card-body">
            <h5 class="card-title" routerLink="">Product title</h5>
            <p class="card-text">R$ 000,000</p>
            <p class="card-text"><small class="text-body-secondary">Garage Name</small></p>
            </div>
        </div>
    </div>
</div>