<div class="page-template">

    <header>
    
        <div class="logo">
            <img routerLink="" class="logo-img" src="assets/imgs/logo.png" alt="">
            <div class="localização">
                <i class="fa-solid fa-location-pin" style="color: #1d7db9;"></i>
                Cidade/UF
            </div>
        </div>
    
        
        
        <div class="left-itens">
        
            <nav id="items">
                
                <a class="categorias" routerLinkActive="active" routerLink="/categorias">Categorias</a>
                <a class="produtos" routerLinkActive="active" routerLink="/produtos">Produtos</a>
                <a class="garagens" routerLinkActive="active" routerLink="/garagens">Garagens</a>
            </nav>
        </div>
    
        
        
        <div class="right-items">
            
            <div class="searchbar">
                <input type="search" name="" id="" placeholder=" Busque...">
            </div>
            
            <div class="cart">
                <a routerLinkActive="active" routerLink="/carrinho">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                </a>
            </div>
            <div class="login" routerLinkActive="active" routerLink="/login">
                <a class="username">Login</a>
                <i class="fa-solid fa-user fa-lg"></i>
            </div>
    
            <div class="menu">
                <i class="fa-solid fa-bars" (click)="clickMenu()"></i>
                <div class="dropdown" [ngClass] = "{active:menuActive}">
                    
                        <a class="categorias" routerLinkActive="active" routerLink="/categorias">Categorias</a>
                        <a class="produtos" routerLinkActive="active" routerLink="/produtos">Produtos</a>
                        <a class="garagens" routerLinkActive="active" routerLink="/garagens">Garagens</a>
                    
                </div>
            </div>
    
        </div>
    
    </header>

    <div class="content-body">
        <router-outlet></router-outlet>
    </div>

    <footer>
        
        <div class="footer-container">
            <ul>
                <li><a href="#">Contate-nos</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">GitHub</a></li>
            </ul>
        </div>
    </footer>
    
</div>
