:host {
        
    .container{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .garages{

            margin-top: 50px;
            h2{
                text-align: center;
            }

        }

        .products{
            margin-top: 50px;
            
            h2{
                text-align: center;
            }
        }


   
    }
}
    






