<div class="container">

    <div class="garages-carousel">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/imgs/ex1.jpg" alt="Random first slide" />
                </div>
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/imgs/ex2.jpg" alt="Random first slide" />
                </div>
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/imgs/ex3.jpg" alt="Random first slide" />
                </div>
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>