

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Carrinho de compras</b></h4></div>
                    <div class="col align-self-center text-right text-muted">X items</div>
                </div>
            </div>    
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/assets/imgs/logo.png"></div>
                    <div class="col">
                        <div class="row text-muted">Item title</div>
                        <div class="row">Brief Description</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">R$ 000.00<span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/assets/imgs/logo.png"></div>
                    <div class="col">
                        <div class="row text-muted">Item title</div>
                        <div class="row">Brief Description</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">R$ 000.00<span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/assets/imgs/logo.png"></div>
                    <div class="col">
                        <div class="row text-muted">Item title</div>
                        <div class="row">Brief Description</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">R$ 000.00<span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Voltar para garagem_nome</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Sumário</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITENS 3</div>
                <div class="col text-right">R$ 000.00</div>
            </div>
            <form>
                <p>CUPOM</p>
                <input id="code" placeholder="Insira seu cupom">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">PREÇO TOTAL</div>
                <div class="col text-right">R$ 000.00</div>
            </div>
            <button class="btn">FINALIZAR COMPRA</button>
        </div>
    </div>
    
</div>