:host{
    
    .container {
        background-color: rgba(167, 167, 167, 0.082);
        border-radius: 10px;
        margin-top: 2rem;

        padding: 2rem;

        .user-profile {

            padding-top: 3rem;
            display: flex;
            flex-direction: row-reverse;


            .name-date {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-right: 15px;
            }


            .user-image {
                width: 150px;
                height: 150px;
                border-radius: 100px;
            }

        }

        .link-container {

            display: flex;
            justify-content: flex-end;

            .links {
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                width: fit-content;

                
                
                
            }    
        }

        .garage-title {
            margin-left: 10px;
        }

        .garages{

            display: flex;

            .card.mb-3 {
                width: 200px;
                height: 200px;
                margin-left: 10px;

                .card-title{
                    cursor: pointer;
                    display: flex;
                    align-self: center;
                    margin-bottom: 0;
                }
                .card-img-top{
                    cursor: pointer;
                    height: 100px;
                    width: 200px;
                }
                .card-text{
                    margin-bottom: 0;
                }
                .card-body{
                    padding: 5px;
                    justify-content: center;
                }
                &.active, &:hover {
                    background-color: #d9d93a88;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                }
            }
        }
        
        .my-orders-title {
            margin-left: 10px;
            margin-top: 10px;
        }

        .my-orders{
            display: flex;
        }

    }

}   