:host{
    
    .container {
        background-color: rgba(167, 167, 167, 0.082);
        border-radius: 10px;
        margin-top: 2rem;
        position: relative;
        

        .user-profile {

            padding-top: 1rem;
            display: flex;
            flex-direction: row-reverse;


            .name-date {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-right: 15px;
            }


            .user-image {
                width: 150px;
                height: 150px;
                border-radius: 100px;
            }

        }

        .link-container {

            display: flex;
            justify-content: flex-end;

            .links {
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                width: fit-content;

                
                
                
            }    
        }

        .garage-title {
            margin-left: 10px;
        }

        .garages{
            position: relative;

            display: flex;

        }
        
        .my-orders-title {
            margin-left: 10px;
            margin-top: 10px;
        }

        .my-orders{
            display: flex;
        }

    }

}   