
<div class="container">
    <h4>Informações do usuário</h4>
    <div class="user-profile">
        <img class="user-image" src="assets/imgs/user-image.jpg" alt="img">
        <div class="name-date">
            <a>Fulano Ciclano de Tal</a>
            <a>Usuário desde dd/MM/yyyy</a>
        </div>
    </div>

    <div class="link-container">
        <div class="links">
            <a href="#">Editar dados pessoais</a>
            <a href="#">Enviar sugestões</a>
            <a href="#">Ver favoritos</a>
        </div>
    </div>

    <div class="garage-title">
        <h5>Minhas garagens</h5>
        </div>
    <div class="garages">
        
        <app-garage-card></app-garage-card>
        <app-garage-card></app-garage-card>

    </div>

    <div class="my-orders-title">
        <h5>Meus últimos pedidos</h5>
    </div>
    

    <div class="my-orders">

        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>


    </div>

</div>