
<h2>Categorias</h2>



    <div class="category-list">
            <ul class="list1">
               
                <li routerLinkActive="active" routerLink="">CDs, DVDs, etc</li>
                <li routerLinkActive="active" routerLink="">Livros e revistas</li>
                <li routerLinkActive="active" routerLink="">Antiguidades</li>
                <li routerLinkActive="active" routerLink="">Hobbies e coleções</li>
                <li routerLinkActive="active" routerLink="">Esportes e ginástica</li>
                <li routerLinkActive="active" routerLink="">Artigos Infantis</li>
                <li routerLinkActive="active" routerLink="">Acessórios para animais de estimação</li>
                <li routerLinkActive="active" routerLink="">Beleza e saúde</li>
                <li routerLinkActive="active" routerLink="">Roupas e calçados</li>
                <li routerLinkActive="active" routerLink="">Bolsas, malas e mochilas</li>
                <li routerLinkActive="active" routerLink="">Bijouterias, relógios e acessórios</li>
                <li routerLinkActive="active" routerLink="">Itens de escritório</li>
            </ul>
            <ul class="list1">
                <li routerLinkActive="active" routerLink="">Auto peças</li>
                <li routerLinkActive="active" routerLink="">Móveis</li>
                <li routerLinkActive="active" routerLink="">Eletrodomésticos</li>
                <li routerLinkActive="active" routerLink="">Materiais de construção e Jardim</li>
                <li routerLinkActive="active" routerLink="">Utilidades domésticas</li>
                <li routerLinkActive="active" routerLink="">Objetos de decoração</li>
                <li routerLinkActive="active" routerLink="">Eletroportáteis</li>
                <li routerLinkActive="active" routerLink="">Video Games</li>
                <li routerLinkActive="active" routerLink="">Computadores e acessórios</li>
                <li routerLinkActive="active" routerLink="">Celulares e telefonia</li>
                <li routerLinkActive="active" routerLink="">Audio, TV, video e fotografia</li>
                <li routerLinkActive="active" routerLink="">Instrumentos musicais</li>
            </ul>
    
    </div>

