<h2>{{title}}</h2>

<div [formGroup]="form" class="container">

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="Primeiro nome...">
      </div>
      <div class="mb-3">
        <label class="form-label">Sobrenome</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Sobrenome...">
      </div>
      <div class="mb-3">
        <label class="form-label">Nome de usuário</label>
        <input formControlName="userName" type="text" class="form-control" placeholder="Como quer ser chamado(a)...">
      </div>
      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input formControlName="email" type="text" class="form-control" placeholder="e-mail@email.com">
      </div>
      <div class="mb-3">
        <label class="form-label">Confirmação do e-mail</label>
        <input type="text" class="form-control" placeholder="e-mail@email.com">
      </div>
      <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
        <input formControlName="birthday" type="text" class="form-control" placeholder="dd/MM/aaaa">
      </div>
      <div class="mb-3">
        <label class="form-label">Cidade</label>
        <input formControlName="city" type="text" class="form-control" placeholder="Terra do nunca">
      </div>
      <div class="mb-3">
        <label class="form-label">UF</label>
        <input formControlName="uf" type="text" class="form-control" placeholder="AA" maxlength="3">
      </div>
      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input formControlName="password" type="text" class="form-control" placeholder="Defina uma senha...">
      </div>
      <div class="mb-3">
        <label class="form-label">Confirme a senha</label>
        <input type="text" class="form-control" placeholder="Repita exatamente a mesma senha...">
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="Submit()">Submit</button>
        <button type="cancel" class="btn btn-secondary">Cancel</button>
    </div>
</div>


