<header>
    <div class="logo">
        <img class="logo-img" src="assets/imgs/logo.png" alt="">
    </div>
    <div class="localização">Cidade/UF</div>


    <nav>
        <a class="categorias" routerLinkActive="active" routerLink="/categorias">Categorias</a>
        <a class="produtos" routerLinkActive="active" routerLink="/produtos">Produtos</a>
        <a class="garagens" routerLinkActive="active" routerLink="/garagens">Garagens</a>
    </nav>

    <div class="searchbar">
        <input type="text" name="searchbar" id="" placeholder="Busque...">
    </div>
    <div class="carinho">Cart</div>
    <div class="login">Login</div>

   
       
</header>

<div class="content-body">
    BODY
</div>