:host{

    .card.mb-3{
        width: 220px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .card-title{
            cursor: pointer;
            display: flex;
            align-self: center;
            font-size: large;
            margin-bottom: 0.2rem;
            
        }
        .card-img-top{
            cursor: pointer;
            height: 120px;
            width: 210px;
            margin-top: 5px;
            
        }
        .card-text{
            margin-bottom: 0.2rem;
            font-size: small;
        }
        .card-body{
            padding: 8px;
            justify-content: center;
        }
        &.active, &:hover {
            background-color: #d9d93a88;
       
            
        }
    }
}