<div class="container">
    <div class="title">
        <h3>O que você quer vender?</h3>
    </div>
    <div [formGroup]="form" class="form">
        <div class="left-itens">
            <div class="row">
                <div class="col">
                    <h5>Selecione uma categoria</h5>
                        <select formControlName="category" class="items"> 
                            <option></option>
                            <option>Auto peças</option>
                            <option>Móveis</option>
                            <option>Eletrodomésticos</option>
                            <option>Materiais de construção e Jardim</option>
                            <option>Utilidades domésticas</option>
                            <option>Objetos de decoração</option>
                            <option>Eletroportáteis</option>
                            <option>Video Games</option>
                            <option>Computadores e acessórios</option>
                            <option>Celulares e telefonia</option>
                            <option>Audio, TV, video e fotografia</option>
                            <option>Instrumentos musicais</option>
                            <option>CDs, DVDs, etc</option>
                            <option>Livros e revistas</option>
                            <option>Antiguidades</option>
                            <option>Hobbies e coleções</option>
                            <option>Esportes e ginástica</option>
                            <option>Artigos Infantis</option>
                            <option>Acessórios para animais de estimação</option>
                            <option>Beleza e saúde</option>
                            <option>Roupas e calçados</option>
                            <option>Bolsas, malas e mochilas</option>
                            <option>Bijouterias, relógios e acessórios</option>
                            <option>Itens de escritório</option>
                        </select>
                </div>
            </div>
            <div class="title-container">
                <h5>Título</h5>
                <input formControlName="title" type="text" class="Title" placeholder="  Insira um título">
            </div>
        
            <div class="description">
                <h5>Descrição</h5>
                <textarea name="description" formControlName="description" id="" cols="30" rows="10"></textarea>
            </div>
        
            <div class="value">
                <h5>Valor</h5>
                <input formControlName="price" type="text" class="Title" placeholder="  R$ ">
            </div>
        </div>
        <div class="right-itens">
            <div class="upload-images">
                <input formControlName="image1" type="file" accept=".gif, .jpg, .jpeg, .png" multiple="">
                <input formControlName="image2" type="file" accept=".gif, .jpg, .jpeg, .png" multiple="">
                <input formControlName="image3" type="file" accept=".gif, .jpg, .jpeg, .png" multiple="">
                <input formControlName="image4" type="file" accept=".gif, .jpg, .jpeg, .png" multiple="">
            </div>
        
            <div class="extra-data">
                
                <div class="check">
                    <input formControlName="delivery" type="checkbox" name="delivery" id="delivery">
                    <input type="hidden" name="delivery" formControlName="delivery" value="false" id="fiscal">
                    <label for="delivery">Realiza entrega ou envio</label>
                </div>
        
                <div class="check">
                    <input formControlName="noDelivery" type="checkbox" name="noDelivery" id="nodelivery">
                    <input type="hidden" name="noDelivery" formControlName="noDelivery" value="false" id="fiscal">
                    <label for="noDelivery">Somente para retirada no local</label>
                </div>
                <div class="check">
                    <input formControlName="newOne" type="checkbox" name="newOne" id="newOne">
                    <input type="hidden" name="newOne" formControlName="newOne" value="false" id="fiscal">
                    <label for="newOne">Novo</label>
                </div>
        
                <div class="check">
                    <input formControlName="used" type="checkbox" name="used" id="used">
                    <input type="hidden" name="used" formControlName="used" value="false" id="fiscal">
                    <label for="used">Usado</label>
                </div>
        
                <div class="check">
                    <input formControlName="fiscal" type="checkbox" name="fiscal" id="fiscal">
                    <input type="hidden" name="fiscal" formControlName="fiscal" value="false" id="fiscal">
                    <label for="fiscal">Com nota fiscal</label>
                </div>
            </div>
        
            <div class="buttons">
                <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
                <button type="cancel" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    

    </div>
    

</div>
