:host{

    h3{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        
    }

    .container{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        height: 700px;
        
        

        .row{
            display: flex;
            flex-direction: column;

            .col{
        
                select{
                    border-radius: 5px;
                    width: 500px;
                    height: 38.67px;
                }

            }
            
        }

        p{
            margin-bottom: 0;
        }

        .title-container{
            padding-top: 30px;
            
            input{
                border-radius: 5px;
                width: 500px;
                height: 38.67px;
                
            }
        }

        .description{
            padding-top: 30px;

            textarea{
                border-radius: 5px;
                width: 500px;
                height: 200px;
                text-align: start;
                

            }

        }
        .value{
            padding-top: 30px;

            input{
                border-radius: 5px;
                width: 500px;
                height: 38.67px;
                
            }
        }

        .upload-images{
            padding-top: 30px;
            width: max-content;
            padding-bottom: 30px;
          
        }

        .extra-data{
            
            
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;
            width: 500px;
            margin-top: 33px;            
            padding-top: 30px;
            padding-left: 10px;
            
            .check{
                padding-bottom: 20px;

                label{
                    padding-left: 15px;
                }
            }
           
        }

        .buttons{
            padding-top: 30px;
            

            .btn.btn-primary{
                margin-right: 10px;
                width: 200px;
            }
        }
    }


} 