<div class="container">

    <div class="imgs">
        <div class="principal-img">
            <img class="lead-img" src="\assets\imgs\logo.png" alt="">
        </div>
        <div class="img-grid">
            <img class="img" src="\assets\imgs\logo.png" alt="">
            <img class="img" src="\assets\imgs\logo.png" alt="">
            <img class="img" src="\assets\imgs\logo.png" alt="">
            <img class="img" src="\assets\imgs\logo.png" alt="">
            <img class="img" src="\assets\imgs\logo.png" alt="">
            <img class="img" src="\assets\imgs\logo.png" alt="">
        </div>
    </div>

    <div class="info">
        <div class="title">
            <h1 class="product-name">PRODUCT_NAME</h1>
            <h3 class="garage-name">GARAGE_NAME</h3>
            <h1 class="value">R$ 00,00</h1>
        </div>

        <div class="button">
            <button class="btn btn-primary">ADICIONAR AO CARRINHO</button>
        </div>

        <div class="description">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, 
                rem itaque nulla eligendi quia officiis impedit corrupti labore 
                similique illo quis repellendus ratione sit assumenda quos dolor amet vel fuga.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quos id vero
                quae quam cum harum quo, eos hic odit accusamus praesentium sit, eius impedit. 
                Voluptate nemo repellendus suscipit facere.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, 
                rem itaque nulla eligendi quia officiis impedit corrupti labore 
                similique illo quis repellendus ratione sit assumenda quos dolor amet vel fuga.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quos id vero
                quae quam cum harum quo, eos hic odit accusamus praesentium sit, eius impedit. 
                Voluptate nemo repellendus suscipit facere.
            </p>
        </div>
        <p class="created-on">Posted in: <a>00/00/0000</a></p>

    </div>

</div>